<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
<h3><a href="/">Home page</a></h3>

<table>
    <tr>
        <th>Name</th>
        <th>Messages</th>
    </tr>
    <tr th:each="message:${messages}">
        <td th:text="${message.id}"></td>
        <td th:text="${message.text}"></td>
    </tr>
</table>
</body>
</html>