<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h3><a href="/">Home page</a> | <a href="/logout">Logout </a></h3>

<table>
    <tr>
        <th>Topic Name</th>
        <th>Author Name</th>
        <th>Created Date</th>
        <th>Add Comment</th>
    </tr>
    <tr th:each="topic:${topics}">
        <td th:text="${topic.name}"></td>
        <td th:text="${topic.employee.name}"></td>
        <td th:text="${topic.createdDate}"></td>
        <td><a th:href="@{/addComment(id=${comment.topic.id})}" a href="/addComment"> <span>Add Comment</span>
        </a></td>
    </tr>
</table>

</body>
</html>